<main>
    <h1>Add New Product</h1>
    <h2>to your <i class="fa-brands fa-angular"></i>ngular Crafts store</h2>
    <div class="register">
        <form class="regform" method="post">

            <label class="form-control-label" for="new-make">Name</label>
            <input class="form-control valid" id="new-make" type="text" name="make" placeholder="A Great New Product">
            
            
            <label class="form-control-label" for="new-description">Description<br>Paragraph 1</label>
            <input class="form-control" id="new-description" type="text" name="description" placeholder="Provide a description of your product">


            <label class="form-control-label" for="new-model">Paragraph 2</label>
            <input class="form-control" id="new-model" type="text" name="model" placeholder="Continue description of your product">

            <label class="form-control-label" for="new-material">Paragraph 3</label>
            <input class="form-control" id="new-material" type="text" name="material" placeholder="Some more description of your product">
            

            <label class="form-control-label" for="new-year">Year</label>
            <input class="form-control" id="new-year" type="text" name="year" placeholder="678.99">


            <label class="form-control-label" for="new-price">Price</label>
            <input class="form-control" id="new-price" type="text" name="price" placeholder="678.99">

            <label class="form-control-label" for="new-image">Image (link)</label>
            <input class="form-control" id="new-image" type="text" name="img" placeholder="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">


            <input type="submit" class="btn btn-primary" value="Add Product" />


        </form>

    </div>
</main>