<main>
    <h1>Add New Product</h1>
    <h2>to your <i class="fa-brands fa-angular"></i>ngular Crafts store</h2>
    <div class="register">
        <form class="regform" #newItemForm="ngForm" (ngSubmit)="newProduct(newItemForm)">

            <!-- NAME -->
            <label class="form-control-label" for="new-make">Name</label>
            <input 
            class="form-control valid" 
            id="new-make" 
            type="text" 
            name="make" 
            placeholder="A Great New Product"
            ngModel required
            #inputName="ngModel">
            <div class="input-required" *ngIf="inputName.touched">
                <span *ngIf="inputName.errors?.['required']">Name is required!</span>
            </div>
            
            <!-- PAR 1 -->
            <label class="form-control-label" for="new-description">Description<br>Paragraph 1</label>
            <input 
            id="new-description" 
            type="text" 
            name="description" 
            placeholder="Provide a description of your product"
            ngModel required
            [appMinDescr]="50" 
            #inputDesc1="ngModel">
            <div class="input-required" *ngIf="inputDesc1.touched">
                <span *ngIf="inputDesc1.errors?.['appMinDescr']">Description is required and needs to be at least 50 characters!</span>
            </div>

            <!-- PAR 2 -->
            <label class="form-control-label" for="new-model">Paragraph 2</label>
            <input 
            id="new-model" 
            type="text" 
            name="model" 
            placeholder="Continue description of your product"
            ngModel
            #inputDesc2="ngModel">

            <!-- PAR 3 -->
            <label class="form-control-label" for="new-material">Paragraph 3</label>
            <input 
            id="new-material" 
            type="text" 
            name="material" 
            placeholder="Some more description of your product"
            ngModel
            #inputDesc3="ngModel">

            <!-- CATEGORY -->
            <label class="form-control-label" for="new-category">Category</label>
            <select class="form-select" id="new-category" name="category" placeholder="Select category" ngModel required #inputCategory="ngModel">
                <option></option>
                <option value="Fashion">Fashion</option>
                <option value="Gifts">Gifts</option>
                <option value="Jewellery">Jewellery</option>
                <option value="Electronics">Electronics</option>
                <option value="Home">Home</option>
                <option value="Events">Events</option>
                <option value="Travel">Travel</option>
                <option value="Gardening">Gardening</option>
                <option value="Handmade">Handmade</option>
                <option value="Outdoors">Outdoors</option>
            </select>
            <div class="input-required" *ngIf="inputCategory.touched">
                <span *ngIf="inputCategory.errors?.['required']">Please, select a category!</span>
            </div>


            <label class="form-control-label" for="new-price">Price</label>
            <input id="new-price" type="text" name="price" placeholder="Ex. 678.99"
            ngModel required number
            #inputPrice="ngModel">

            <label class="form-control-label" for="new-image">Image (link)</label>
            <input id="new-image" type="text" name="img" placeholder="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            ngModel required
            #inputImg="ngModel">

            <button [style]="{backgroundColor: newItemForm.invalid ? 'grey' : 'tomato'}">Add Product</button>

        </form>

    </div>
</main>