<section class="footer-menu">
  <ul class="footer-menu-ul" role='list'>
      <li class="footer-menu-li-title">1 MENU WITH USEFUL LINKS</li>
      <li class="footer-menu-li"><a href="blog.html">Blog Articles</a></li>
      <li class="footer-menu-li"><a href="blog.html">Quae dolorem dolor fugit</a></li>
      <li class="footer-menu-li"><a href="blog.html">Blanditiis facilis voluptatem</a></li>
      <li class="footer-menu-li"><a href="blog.html">Aperiam sint aut vero</a></li>
      <li class="footer-menu-li"><a href="blog.html">Nesciunt mollitia rem enim</a></li>
  </ul>
  <ul class="footer-menu-ul" role='list'>
      <li class="footer-menu-li-title">2 MENU WITH USEFUL LINKS</li>
      <li class="footer-menu-li"><a href="blog.html">Blog Articles</a></li>
      <li class="footer-menu-li"><a href="blog.html">Quae dolorem dolor fugit</a></li>
      <li class="footer-menu-li"><a href="blog.html">Blanditiis facilis voluptatem</a></li>
      <li class="footer-menu-li"><a href="blog.html">Aperiam sint aut vero</a></li>
      <li class="footer-menu-li"><a href="blog.html">Nesciunt mollitia rem enim</a></li>
  </ul>
  <ul class="footer-menu-ul" role='list'>
      <li class="footer-menu-li-title">3 MENU WITH USEFUL LINKS</li>
      <li class="footer-menu-li"><a href="blog.html">Blog Articles</a></li>
      <li class="footer-menu-li"><a href="blog.html">Quae dolorem dolor fugit</a></li>
      <li class="footer-menu-li"><a href="blog.html">Blanditiis facilis voluptatem</a></li>
      <li class="footer-menu-li"><a href="blog.html">Aperiam sint aut vero</a></li>
      <li class="footer-menu-li"><a href="blog.html">Nesciunt mollitia rem enim</a></li>
  </ul>
</section>
<footer class="footer">
    <div class="wrapper">
      <div>
        <i class="fa-brands fa-facebook-f" style="color: #fff;"></i>
        <i class="fa-brands fa-twitter" style="color: #fff;"></i>
        <i class="fa-brands fa-instagram" style="color: #fff;"></i>
        <i class="fa-brands fa-linkedin-in" style="color: #fff;"></i>
      </div>
      <div class="terms">
        <ul>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <p>2023 All rights reserved!</p>
    </div>
</footer>