

    <main>
        <h1>Cart</h1>
        <section class="cart-container">
            <ul class="cart-items" role='list'>
                <li class="cart-product-card-li">
                        <img src="https://i.etsystatic.com/31492007/c/2000/1589/0/341/il/7266aa/3441803117/il_340x270.3441803117_oand.jpg" alt="">
                        <div class="cart-product-description">
                            <h3>Product Name that is very long because it cannot be described simply</h3>
                            <input class="quantity" type="number" id="quantity" name="quantity" min="1" max="99" value="1">
                            <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                        </div>
                        <a href=""><i class="fa-regular fa-trash-can"></i></a>
                </li>

                <li class="cart-product-card-li">

                    <img src="https://i.etsystatic.com/31492007/c/1739/1382/104/431/il/673975/3875688672/il_340x270.3875688672_g6jt.jpg" alt="">
                    <div class="cart-product-description">
                        <h3>Product Name</h3>
                        <input class="quantity" type="number" id="quantity" name="quantity" min="1" max="99" value="1">
                        <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>

                    </div>
                    <a href=""><i class="fa-regular fa-trash-can"></i></a>
                </li>

                <li class="cart-product-card-li">

                    <img src="https://i.etsystatic.com/32450482/c/2200/1748/0/338/il/a5dfef/3451458290/il_340x270.3451458290_awgk.jpg" alt="">
                    <div class="cart-product-description">
                        <h3>Product Interesting Name</h3>
                        <input class="quantity" type="number" id="quantity" name="quantity" min="1" max="99" value="1">
                        <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>

                    </div>
                    <a href=""><i class="fa-regular fa-trash-can"></i></a>
                </li>

                <li class="cart-product-card-li">

                    <img src="https://i.etsystatic.com/41629608/r/il/5af829/4828637132/il_340x270.4828637132_31nf.jpg" alt="">
                    <div class="cart-product-description">
                        <h3>Product </h3>
                        <input class="quantity" type="number" id="quantity" name="quantity" min="1" max="99" value="1">
                        <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>

                    </div>
                    <a href=""><i class="fa-regular fa-trash-can"></i></a>
                </li>
            </ul>

<a routerLink="/products"><p>Continue Shopping</p></a>
<!--  -------- The Order Summary Box -------- -->

            <ul class="cart-checkout" role="list">
                <li>ORDER SUMMARY</li>
                <li><span>Products: </span>$648.95</li>
                <li><span>Coupons: </span>$0.00</li>
                <li><span>Shipping: </span>$0.00</li>
                <li>__________________________</li>
                <li><span>TOTAL: </span>$648.95</li>
                <button>CHECK OUT</button>
            </ul>
        </section>
    </main>
