.cart-container {
    margin-bottom: 40px;
    display: grid;
    gap: 10px;
    transition: 0.4s;
}

.cart-product-card-li {
    display: flex;
    justify-content: flex-start;
    height: 1.5;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transform: translate(0px, 0px);
    transition: 0.4s;
    margin: 0 auto 10px;
}

.cart-product-card-li img {
    height: 100px;
    transition: 0.4s;
}

.quantity {
    width: 40px;
    height: 25px;
    border-width: 0;
}

.cart-product-card-li:hover {
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.cart-product-description {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    gap: 100px;
    padding: 12px;
}

.cart-product-description h3 {
    grid-column: 1;
    width: 300px;
    transition: 0.4s;
}

.quantity {
    grid-column: 2;
}

.cart-product-description p {
    font-size: 20px;
    grid-column: 3;
}

.satoshi {
    margin-top: -8px;
    font-size: 14px;
}

.cart-items {
    grid-column: 1 / span 2;
}

.fa-trash-can {
    margin: 20px 20px 0 0;
}

.cart-checkout {
    grid-column: 3;
    grid-row: 1 / span 3;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: justify;
    font-weight: 800;
    max-height: 440px;
}

.cart-checkout li {
    margin: 30px 0 0 30px;
}

button {
    margin: 20px 0 30px 30px;
}

.cart-checkout li>span {
    display: inline-block;
    width: 120px;
    color: grey;
}

.cart-checkout button {
    width: 180px;
    background-color: tomato;
    border: 1px solid gray;
    border-radius: 4px;
    color: #fff;
}


@media screen and (max-width: 1052px) {

    .cart-container {
        display: block;
        transition: 0.4s;
    }

    .cart-product-card-li img {
        height: 80px;
        transition: 0.4s;
    }

    .cart-product-description h3 {
        width: 200px;
        font-size: 15px;
        line-height: 1.1;
        transition: 0.4s;
    }

    .cart-checkout {
        width: auto;
    }

    .cart-checkout li {
        margin: 0 30px;
    }
}

@media screen and (max-width: 920px) {

    .cart-product-description h3 {
        width: 200px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.1;
        transition: 0.4s;
    }

    .cart-product-card-li img {
        height: 60px;
        transition: 0.4s;
    }

}