<main>
    <h2>My Profile</h2>
<section class="profile-info">
<img src="https://randomuser.me/api/portraits/men/36.jpg" alt="" class="profile-img">
    <div class="my-info">
        <p>Name: <span>Simon</span></p>
        <p>Surname: <span>Bonetti</span></p>
        <p>Email: <span>simonbonetti@gmail.com</span></p>
        <p>Phone: <span>+597 645 824</span></p>
        <p>Country: <span>South Africa</span></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</section>
<section class="admin">

    <button>Edit Profile Info</button>
</section>





    <h3>My products</h3>
    <section class="profile-container">
        <ul class="profile-container-ul" role='list'>
            <li class="profile-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                    <img src="https://i.etsystatic.com/31492007/c/2000/1589/0/341/il/7266aa/3441803117/il_340x270.3441803117_oand.jpg" alt="">
                    <div class="product-description">
                        <h3>Product Name</h3>
                        <!-- <p class="catName">Category: {{Name}}</p> -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    </div>
                </a>
            </li>
            <li class="profile-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/31492007/c/1739/1382/104/431/il/673975/3875688672/il_340x270.3875688672_g6jt.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <!-- <p class="catName">Category: {{Name}}</p> -->
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                </div>
                </a>
            </li>
            <li class="profile-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/32450482/c/2200/1748/0/338/il/a5dfef/3451458290/il_340x270.3451458290_awgk.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <!-- <p class="catName">Category: {{Name}}</p> -->
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                </div>
            </a>
            </li>
            <li class="profile-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/41629608/r/il/5af829/4828637132/il_340x270.4828637132_31nf.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <!-- <p class="catName">Category: {{Name}}</p> -->
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                </div>
            </a>
            </li>
        </ul>
    </section>