<!-- <app-delete-confirmation-modal (confirmDelete)="deleteProductConfirmation()"> </app-delete-confirmation-modal> -->

<main>
    <h2>My Profile</h2>

<section class="profile-info">

<img src="{{myImage}}" alt="" class="profile-img">
<div class="my-info" *ngIf="!isEditMode">
    <p>Name: <span>{{myName}}</span></p>
    <p>Username: <span>{{myUsername}}</span></p>
    <p>Email: <span>{{myEmail}}</span></p>
    <p>Country: <span>{{myCountry}}</span></p>
    <p></p>
    <p></p>
    <section class="admin">
    
        <button class="edit-btn-pro" (click)="toggleEditMode()">Edit Profile Info</button>
    </section>
</div>
<div class="my-edit-info" *ngIf="isEditMode">
    <form class="userEditForm" [formGroup]="form" (ngSubmit)="saveProfileHandler">
    <label for="">Name: </label>
    <input
    type="text"
    id="name"
    formControlName="name">

    <label for="">Username: </label>
    <input 
    type="text"
    id="username"
    formControlName="username">

    <div class="input-required" *ngIf="form.get('username')?.touched">
        <span *ngIf="form.get('username')?.errors?.['required']">Username is required!</span>
        <span *ngIf="form.get('username')?.errors?.['miLength']">Username should be at least 5 characters!</span>
    </div>

    <label for="">Email: </label>
    <input
    type="text"
    id="email"
    formControlName="email">
    <div class="input-required" *ngIf="form.get('email')?.touched">
        <span *ngIf="form.get('email')?.errors?.['required']">Email is required!</span>
        <span *ngIf="form.get('email')?.errors?.['email']">Email is invalid!</span>
    </div>

    <label for="">Country</label>
    <input
    type="text"
    id="Country"
    formControlName="country">

    <label for="">Image</label>
    <input
    type="text"
    id="img"
    value="https://randomuser.me/api/portraits/men/36.jpg"
    formControlName="img">
    </form>
    <section class="admin">
    
        <button class="cancel-btn-pro" (click)="saveProfileHandler()">Cancel Editing</button>
        <button class="edit-btn-pro" (click)="saveProfileHandler()">Save Profile Info</button>
    </section>
</div>
</section>





    <h3>My products</h3>
    <div class="loading"  *ngIf="isLoading" >
        <app-loader></app-loader>
    </div>
    <section class="profile-container">
        <ul *ngFor="let product of filteredProductList" class="profile-container-ul" role='list'>

            <li class="profile-product-card-li">
                <a routerLink="/products/{{product._id}}" class="home-popular-card-a">
                    <img src="{{product.img}}" alt="">
                    <div class="product-description">
                        <h3>{{product.make}}</h3>
                        <p class="catName">Category: {{product.category}}</p>

                        <p class="price-tag">${{(product.price).toFixed(2)}}</p>
                    </div>
                </a>
                <button class="product-delete" (click)="deleteProduct(product._id)">Delete</button>
            </li>

        </ul>
    </section>

