@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,100;0,400;0,600;0,800;0,1000;1,100;1,400;1,600;1,800;1,1000&display=swap');

main {
    height: fit-content;
    text-align: center;
    padding: 8px 4px 0 4px;
}

h1 {
    margin-bottom: 16px;
}

.home-popular h2 {
    margin: 36px 0 0 0;
}