<section class="home-blog">
    <h2>How to be happy with your craft</h2>
    <ul class="home-blog-ul" role='list'>
        <li class="home-blog-li">
            <h3>Article One</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam modi facilis accusamus, nisi, obcaecati at sunt nihil voluptatem quas eveniet omnis quasi asperiores! Aperiam sint aut vero, similique et impedit quos illo labore unde. Esse dolorem maiores eum saepe modi, nostrum accusamus velit tempora id sit animi adipisci sunt.
            </p>
            <a href="blog.html" class="home-blog-btn">Full Article</a>
        </li>
        <li class="home-blog-li">
            <h3>Article Two</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, possimus? Nesciunt mollitia rem enim aliquid voluptatem ab iure eligendi expedita. Distinctio deleniti laudantium quos neque inventore? Blanditiis facilis, voluptatem deserunt esse, in laboriosam iste tempora odio aut ex dolorem doloribus maiores ab velit dolores cum assumenda.</p>
            <a href="blog.html" class="home-blog-btn">Full Article</a>
        </li>
        <li class="home-blog-li">
            <h3>Article Three</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum in doloremque facilis dolore molestias vero, aliquam vitae ullam obcaecati consequatur autem similique quibusdam temporibus iusto ipsum doloribus nemo sint perspiciatis fugiat possimus repellendus itaque! Quae dolorem dolor fugit modi tenetur vero doloribus fugiat voluptatibus odio, cum facere ratione!</p>
            <a href="blog.html" class="home-blog-btn">Full Article</a>
        </li>
    </ul>
</section>
