/* BLOG */


.home-blog {
    margin-top: 40px;
    background-color: #ffe7d1;
    padding: 20px;
}

.home-blog h2 {
    font-size: 40px;
}

.home-blog-ul {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.home-blog p {
    margin-bottom: 24px;

}

.home-blog-li {
    text-align: justify;
}

.home-blog-btn {
    background-color: #fff;
    height: 36px;
    width: 90px;
    margin-top: 18px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}