.notification {
    position: absolute;
    z-index: 10;
    top: 90px;
    margin: 0 40%;
    padding: 0.5rem;
    color: #fff;
    font-weight: 800;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.error-message {
    background-color: rgba(255, 99, 71, 0.8);
}

.success-message {
    background-color: rgba(99, 230, 81, 0.7);
}