<section class="loading"  *ngIf="isLoading" >
    <app-loader></app-loader>
</section>
<main>

    <section  *ngIf="!isLoading" class="product-container">
        <ul class="product-display" role="list">
            <li class="product-photo"><img src="{{product?.img}}" alt=""></li>
        </ul>
        <ul class="product-description" role="list">
            <li class="product-description-li name"><h1>{{product?.make}}</h1></li>
            <!-- <div class="stars">
                <star-rating [stars]="product.stars"/>
            </div> -->
            <span> {{product?.category}}</span>
            <p class="product-page-price-tag">${{product?.price}}</p>
            
            <li class="product-description-li description">{{product?.model}}</li>
            <li class="product-description-li description">{{product?.description}}</li>
            <li class="product-description-li description">{{product?.material}}</li>
            <li>Merchant: {{product?._ownerId}}</li>
            <li class="product-description-li"><h2>Delivery:</h2></li>
            <li class="product-description-li">
                <ul class="product-description-bottom" role="list">
                    <li class="product-description-bottom-li"><i class="fa-solid fa-truck"></i> Delivery within 72 hours.</li>
                    <li class="product-description-bottom-li"><i class="fa-solid fa-globe"></i> Worldwide delivery</li>
                    <li class="product-description-bottom-li"><i class="fa-solid fa-shield-halved"></i> Secure checkout</li>
                </ul>
            </li>
            <li class="add-to-cart">
                <a routerLink="/cart" class="add-to-cart-btn">ADD TO CART</a>
            </li>
        </ul>
    </section>

<!-- <section class="similar-products">
    <h2>Similar products people also buy</h2>
                <ul class="category-container-ul" role='list'>
            <li class="category-product-card-li">
                <a href="#" class="home-popular-card-a">
                    <img src="https://i.etsystatic.com/31492007/c/2000/1589/0/341/il/7266aa/3441803117/il_340x270.3441803117_oand.jpg" alt="">
                    <div class="product-description">
                        <h3>Product Name</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                        <p class="product-description-seller">
                            <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                        </p>
                    </div>
                    <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                    <div class="seller-image"><img src="https://randomuser.me/api/portraits/men/43.jpg" alt="Снимка"></div>
                </a>
            </li>
            <li class="category-product-card-li">
                <a href="#" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/31492007/c/1739/1382/104/431/il/673975/3875688672/il_340x270.3875688672_g6jt.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/women/63.jpg" alt="Снимка"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="#" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/32450482/c/2200/1748/0/338/il/a5dfef/3451458290/il_340x270.3451458290_awgk.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/men/74.jpg" alt="Снимка"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="#" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/41629608/r/il/5af829/4828637132/il_340x270.4828637132_31nf.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div> 
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/women/68.jpg" alt="Снимка"></div>
            </a>
            </li>
        </ul>
</section>
<section class="product-subscribe">
    <p class="home-subscribe-p">Yes, send me exclusive offers, gift ideas and tips on buying and selling with <span>Unique Craft Webstore</span>.</p>
    <form action="" class="home-subscribe-form">
        <input type="email" name="email" id="home-subscribe-email" placeholder="Enter your email"><button type="submit" class="submit-subscribe">Subscribe</button>
    </form>
</section> -->
</main>