.home-popular {
    margin-bottom: 40px;
}

h2 {
    line-height: 60px;
}

.home-popular h2 {
    margin: 36px 0 0 0;
}





.home-popular-ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.home-popular-card-li {
    height: 300px;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    transform: translate(0px, 0px);
    transition: 0.4s;
}

.home-popular-card-li:hover {
    transform: translate(0px, -6px);
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-popular-card-a {
    text-decoration: none;
    color: #585858;
}