<h2>Our most popular categories</h2>
<section class="home-category">
    <ul *ngFor="let category of categoryList" class="home-category-ul" >
        <li class="home-category-card-li">
            <a routerLink="category._id" class="home-category-card-a">
            <img src="{{category.imgUrl}}" alt="">
            <h3>{{category.themeName}}</h3> 
            <p>Latest products added on {{category.updatedAt}}</p>
            </a>
        </li>
        <!-- <li class="home-popular-card-li">
            <a href="category.html" class="home-popular-card-a">
            <img src="https://i.etsystatic.com/31492007/c/1739/1382/104/431/il/673975/3875688672/il_340x270.3875688672_g6jt.jpg" alt="">
            <h3>Category 2</h3> 
            </a>
        </li>
        <li class="home-popular-card-li">
            <a href="category.html" class="home-popular-card-a">
            <img src="https://i.etsystatic.com/32450482/c/2200/1748/0/338/il/a5dfef/3451458290/il_340x270.3451458290_awgk.jpg" alt="">
            <h3>Category 3</h3> 
            </a>
        </li>
        <li class="home-popular-card-li">
            <a href="category.html" class="home-popular-card-a">
            <img src="https://i.etsystatic.com/41629608/r/il/5af829/4828637132/il_340x270.4828637132_31nf.jpg" alt="">
            <h3>Category 4</h3> 
            </a>
        </li>
        <li class="home-popular-card-li">
            <a href="category.html" class="home-popular-card-a">
            <img src="https://i.etsystatic.com/29268729/r/il/b91676/3151222361/il_340x270.3151222361_p9b6.jpg" alt="">
            <h3>Category 5</h3> 
            </a>
        </li>
        <li class="home-popular-card-li">
            <a href="category.html" class="home-popular-card-a">
            <img src="https://i.etsystatic.com/24367258/c/2000/1589/0/410/il/0227a4/4202687820/il_340x270.4202687820_ftlo.jpg" alt="">
            <h3>Category 6</h3> 
            </a>
        </li>
        <li class="home-popular-card-li">
            <a href="category.html" class="home-popular-card-a">
            <img src="https://i.etsystatic.com/27456806/r/il/ccfc62/3532544183/il_340x270.3532544183_tjs7.jpg" alt="">
            <h3>Category 7</h3> 
            </a>
        </li>
        <li class="home-popular-card-li">
            <a href="category.html" class="home-popular-card-a">
            <img src="https://i.etsystatic.com/13411844/r/il/3759a7/3739288314/il_340x270.3739288314_p23d.jpg" alt="">
            <h3>Category 8</h3> 
            </a>
        </li> -->
    </ul>
</section>