
        <ul class="category-container-ul" role='list'>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                    <img src="https://i.etsystatic.com/31492007/c/2000/1589/0/341/il/7266aa/3441803117/il_340x270.3441803117_oand.jpg" alt="">
                    <div class="product-description">
                        <h3>Product Name</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                        <p class="product-description-seller">
                            <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                        </p>
                    </div>
                    <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                    <div class="seller-image"><img src="https://randomuser.me/api/portraits/men/43.jpg" alt="Merchant's photo"></div>
                </a>
            </li>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/31492007/c/1739/1382/104/431/il/673975/3875688672/il_340x270.3875688672_g6jt.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/women/63.jpg" alt="Merchant's photo"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/32450482/c/2200/1748/0/338/il/a5dfef/3451458290/il_340x270.3451458290_awgk.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/men/74.jpg" alt="Merchant's photo"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/41629608/r/il/5af829/4828637132/il_340x270.4828637132_31nf.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div> 
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/women/68.jpg" alt="Merchant's photo"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/29268729/r/il/b91676/3151222361/il_340x270.3151222361_p9b6.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/men/52.jpg" alt="Merchant's photo"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/24367258/c/2000/1589/0/410/il/0227a4/4202687820/il_340x270.4202687820_ftlo.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/women/75.jpg" alt="Merchant's photo"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/27456806/r/il/ccfc62/3532544183/il_340x270.3532544183_tjs7.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/men/76.jpg" alt="Merchant's photo"></div>
            </a>
            </li>
            <li class="category-product-card-li">
                <a href="product.html" class="home-popular-card-a">
                <img src="https://i.etsystatic.com/13411844/r/il/3759a7/3739288314/il_340x270.3739288314_p23d.jpg" alt="">
                <div class="product-description">
                    <h3>Product Name</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p>
                    <p class="product-description-seller">
                        <span class="product-description-seller-name">John Fitzgerald</span> <span class="seller-items-quantity">(28 items)</span>
                    </p>
                </div>
                <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="seller-image"><img src="https://randomuser.me/api/portraits/women/52.jpg" alt="Merchant's photo"></div>
            </a>
            </li>
        </ul>

