<h2>Recently Added Products</h2>
<section class="home-popular">
        <ul *ngFor="let product of productList" class="product-container-ul" >
            <!-- Loader / Spinner -->
            <!-- <li *ngIf="!globalLoaderService.isHidden" class="category-product-card-li">
                <app-global-loader />
            </li> -->

            <li class="category-product-card-li">
                <a href="" class="home-product-card-a">
                    <img src="{{product.imgUrl}}" alt="{{product.text}}">
                    <div class="product-description">
                        <h3>{{product.text}}</h3>
                        <p class="catName">Category: {{product.themeId.themeName}}</p>
                        <div class="stars">
                            <star-rating [stars]="product.stars"/>
                        </div>
                        <!-- <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span> -->
                        <p class="price-tag">$ {{product.price}}</p>
                        <!-- <p class="price-tag">$ 124,<span class="satoshi"><sup>95</sup></span></p> -->
                        <p class="product-description-seller">
                            <span class="product-description-seller-name">{{product.userId.username}}</span> <span class="seller-items-quantity"> ({{product.userId.posts.length}} items)</span>
                        </p>
                    </div>
                    <div class="favourite"><i class="fa-solid fa-heart"></i></div>
                    <div class="seller-image"><img src="{{product.userId.photoUrl}}" alt="Merchant's photo"></div>
                </a>
            </li>
        </ul>
</section>
