<main>
    <h1>Log In</h1>
    <h2>to your Angular Crafts account</h2>
    <div class="register">
        <form class="login-form" method="post">
            <label for="email">Email</label>
            <input type="text" name="surname" placeholder="Please, enter your email address">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Please, enter your password">
            <input type="submit" value="Login">
        </form>
        <p>If you are not a registered user, please go to our <a href="register.html">Registration page</a>.</p>
    </div>
</main>